@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-base: Montserrat, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-base);
  font-weight: 400;
}

.checkerboard {
  height: 100%;
  width: 100%;
  background: conic-gradient(
    #f0f0f0 90deg,
    #d0d0d0 90deg 180deg,
    #f0f0f0 180deg 270deg,
    #d0d0d0 270deg
  );
  background-repeat: repeat;
  background-size: 30px 41px;
  background-position: top left;
}
